/* Styles for the main container */
.itinerary-date-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    gap: 20px; 
    border-radius: 20px;
  }
  
  .date-picker-container {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    max-width: 450px; 
    border-radius: 20px;
  }
  
  /* Styles for the DatePicker input fields */
  .MuiTextField-root {
    font-family: "Manrope", sans-serif;
    background-color: white;
    border-radius: 5px;
    flex: 1; 
    &:first-child {
      margin-right: 30px; 
    }
  }


  /* Styles for the start button */
  .itinerary-date-picker-container .start-button {
    padding: 10px 20px;
    background-color: #2a7f75; 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* Disabled state */
    &:disabled {
      background-color: #b6b6b6;
      cursor: not-allowed;
    }
  }
  
  .itinerary-date-picker-container .start-button:hover {
    background-color: #1b5952; 
  }
  
