.big-calendar {
  height: 85vh;
  width: 90vw;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/*For Today, Back, Next Button*/
/* .rbc-btn-group {
    visibility: hidden;
} */

/* .add-event-btn {
    
} */

/* .rbc-event {
    background-color:brown;
}

.rbc-event-content {
    background-color: blueviolet;
} */

.activity-title-editbtn {
  display: flex;
  gap: 30px;
}

/*Create Event Dialog*/
.activity-title-div {
  padding-bottom: 25px;
}
.activity-title-textfield {
  width: 260px;
}

.start-end-timepicker {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.description-inputbase {
  /* background-color: aqua; */
  width: 260px;
}
/*Edit Dialog*/
