
/* Custom Component Styling */

.activity-title-div {
    width: 100%;
}

.activity-title-div .MuiTypography-root {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*Create Event Dialog*/
.activity-titleform-div {
  padding-bottom: 25px;
}
.activity-title-input {
  width: 260px;
}

.start-end-timepicker {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.description-inputbase {
  /* background-color: aqua; */
  width: 260px;
}
/*Edit Dialog*/
