.whole-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-half {
    flex: 1; /* Each side takes up equal amount of space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center;
    background-color: #8A716A;
}

.destination-half {
    position: relative;
    flex: 1;
    background-color: #C2B8B2;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.header-1 {
    font-size: 30px;
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 0px;
    top: 0;
}

.header-2 {
    position: absolute;
    align-self: flex; /* Align to the start of the flex container */
    width: 100%; /* Make it full width if needed */
    text-align: center; /* Keep the text centered */
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 80px;
    top: 0;
}


.next-button {
    position: relative;
    top: 20px;
    left: 275px;
    padding: 10px 20px;
    width: 100px;
    background-color: #57886c; 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.third-section {
  position: relative;
  margin-top: 100px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 2 columns */
    grid-gap: 25px; /* Adjust the gap between images */
    max-width:900px; /* Or your preferred max width */
    margin: auto; /* Center the grid horizontally */
    border-radius: 10px;
}
  
  .image-item {
    width: 100%; /* Makes images fully responsive within their containers */
    display: block; /* Removes any unwanted space below the images */
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
  }

  .slide-in {
    transform: translateX(0%);
  }
  
  .slide-out {
    transform: translateX(-100%);
  }
  