.animation_1 {
  position: fixed;
  z-index: 9999;
}

.home-container {
  display: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-banner-container {
  text-align: center;
}

.diagonal-split {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.top-half,
.bottom-half {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.top-half {
  clip-path: polygon(0 0, 67% 0, 39% 100%, 0 100%);
  z-index: 1;
}

.bottom-half {
  clip-path: polygon(64% 0, 100% 0, 100% 100%, 33% 100%);
}

.getStartedButton {
  position: relative;
  top:450px;
  color: rgb(0, 0, 0);
  background-color: rgb(247, 241, 165);
  border: 2px solid rgb(247, 241, 165);
  border-radius: 20px;
  padding: 10px 40px;
  font-family: Questrial;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  z-index: 30;
}

.start-button {
  position: relative;
  margin: auto;
  padding: 10px 20px;
  background-color: #2a7f75; 
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width:100px;
  /* Disabled state */
  &:disabled {
    background-color: #b6b6b6;
    cursor: not-allowed;
  }
}

.start-button:hover {
  background-color: #1b5952; 
}

.headerr {
  position: relative;
  top: 800px;
  font-size: 30px;
  color:white;
  font-weight: 900;
  top: 0;
  z-index: 31;
}



.banner {
  background-color: bisque;
  width: 100%;
  height: 800px;
  position: relative;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Animation_1 {
  margin-top: 0px;
  margin-right: 20px;
}

.animation-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Animation_2 {
  margin-left: 20px;
}

.animation-container-3 {
  display: flex;
  align-items: center;
}

.about-text-section {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  justify-content: relative;
  line-height: 2;
}

.about-text-section h1 {
  padding: 4rem;
  font-size: 3rem;
  font-weight: 800;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text-section p {
  font-size: 1.5rem;
  font-family: monospace;
  color: #fff;
  padding: 1rem 2rem 2rem 1rem;
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  text-align: center;
  padding: 0.5rem;
  line-height: 1.5;
  font-weight: 700;
}
