.animation_1 {
  position: fixed;
  z-index: 9999;
}


.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  position: relative; 
 
}

.first-description {
  font-size: 7.5vh; 
  color: black; 
  margin: 0; 
  padding: 0; 

  transform: translateY(-100%);
  animation: slideIn 2s forwards;
  position: relative;
}

.headerr {
  font-size: 4vh;
  transform: translateY(-100%);
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  to {
    transform: translateY(0);
  }
}

.getStartedButton {
  border-radius: 2.8vh; 
  background-color: #36446C; 
  color: white; 
  border: none; 
  padding: .8vh 2vh; 
  cursor: pointer; 
  margin-top: 4vh;
  font-family: 'Radley';
  letter-spacing: 0.5vh;
  font-size: 2.8vh;
  transition: background-color 0.3s;
  transform: translateY(100%);
  animation: slideIn 2s forwards;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100vh; 
  object-fit: cover; /* Ensure the image covers the area without distorting */
  z-index: -1; 
}


.banner {
  background-color: bisque;
  width: 100%;
  height: 800px;
  position: relative;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Animation_1 {
  margin-top: 0px;
  margin-right: 20px;
}

.animation-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Animation_2 {
  margin-left: 20px;
}

.animation-container-3 {
  display: flex;
  align-items: center;
}

.about-text-section {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  justify-content: relative;
  line-height: 2;
}

.about-text-section h1 {
  padding: 4rem;
  font-size: 3rem;
  font-weight: 800;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text-section p {
  font-size: 1.5rem;
  font-family: monospace;
  color: #fff;
  padding: 1rem 2rem 2rem 1rem;
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  text-align: center;
  padding: 0.5rem;
  line-height: 1.5;
  font-weight: 700;
}
