.banner{
    width: 100%;
    height: 100%;
    position: relative;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.home-text-section{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:#fff;
}


.home-text-section h1{
    font-size: 3rem;
    font-weight: 800;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-text-section h2{
    font-size: 1.5rem;
    font-weight: 800;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-text-section .show{
    text-decoration: none;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222;
}
@media screen and (max-width: 555px) {
    .hero-text-section h1{
        padding: 10px 20px;
    }
}
.home-text-section p{
    font-size: 0.75rem;
    
    color: #fff;
    padding: 0.5rem 0 2rem 0;
}

.home-text-section .show{
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
}