
.search-bar {
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #ccc;
  font-size: 16px;
  outline: none;
}

.search-bar input[type="text"]:focus {
  border-color: #007bff;
}

.continent-list-container {
  display: flex;
  justify-content: center;
}

.continent-list {
  max-width: 95vw;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
}

.continent-list ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.continent-button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: 10px; /* Add margin between buttons */
}

.continent-button:hover {
  background-color: #0056b3;
}

.continent-button strong {
  font-size: 24px;
  font-weight: bold;
}

.continent-section h2 {
  text-align: left;
  margin-left: 40px; /* Adjust this value to your preference */
}

.image-container {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  gap: 20px; /* Add some space between images */
}

.image-container img {
  max-width: 400px; /* Set a maximum width for the images */
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-map-block {
  width: 100%;
  height: 100%;
}
