

.search-bar {
    margin-bottom: 20px; /* Add space between the search bar and the map container */
  }
  
  .search-bar input[type="text"] {
    width: 100%; /* Make the input box fill the entire width of its container */
    padding: 10px; /* Add padding to increase the size of the input box */
    border-radius: 20px; /* Make the edges more rounded */
    border: 2px solid #ccc; /* Add a border for visual separation */
    font-size: 16px; /* Increase font size for better readability */
    outline: none; /* Remove default outline */
  }
  
  .search-bar input[type="text"]:focus {
    border-color: #007bff; /* Change border color on focus */
  }
  
  
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Take up 80% of the viewport height */
  }
  
  .map-placeholder {
    width: 80%; /* Set the width of the black box */
    height: 80%; /* Set the height of the black box */
    /*max-width: 1000px; /* Set maximum width to prevent the container from becoming too wide */
    background-color: #000; /* Set the background color to black */
    border-radius: 5px; /* Add border radius */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the map doesn't overflow */
    border: 2px solid #ccc; /* Add border for the map placeholder */
  }

    /* Adjust map size */
  .google-map-block {
    width: 100%;
    height: 100%;
}
  
  .continent-list {
    position: absolute;
    top: 0;
    right: -200px; /* initially hide it */
    width: 300px; /* make it larger */
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    transition: right 0.3s ease; /* smooth transition */
    z-index: 1; /* Set a higher z-index to ensure it appears above the map */
  }
  
  .continent-list.visible {
    right: 0; /* slide in from the right */
  }
  
  .continent-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .continent-button {
    margin-bottom: 20px; /* Add space between continents */
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 16px;
  }
  
  .continent-button strong {
    font-size: 20px; /* Larger font size */
    font-weight: bold; /* Bold text */
  }
  
  .hotspot-list {
    list-style-type: none;
    padding-left: 20px; /* Indent hotspot list */
  }
  