.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 105px;
  border: 2px solid #ccc;
  box-sizing: border-box; 
}

.suggestions {
  position: absolute;
  top: 100%; 
  left: 10px; /* Align it with the left edge of the search input */
  width: calc(100% - 20px);
  border: 2px solid #000000;
  border-top: none;
  z-index: 1000;
  background: white;
  list-style: none;
  padding: 10px; 
  margin-top: 0;
  box-sizing: border-box; /* Ensure border and padding are included in the width */
  overflow-y: auto; /* Enable scroll if content is too long */
  min-width: 200px;
  max-height: 200px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.875rem;
  
  border-radius: 12px;
  outline: 0px;
}

.suggestions li:hover {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
}


